[Unit]
Description=Sway foreground dmem booster
BindsTo=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/home/gurov/Projects/sway-foreground-booster-dmemcg/target/debug/sway-foreground-booster-dmemcg
Restart=on-abnormal
RestartSec=2

[Install]
WantedBy=sway-session.target
