[Unit]
Description=Sway foreground dmem booster
BindsTo=sway-session.target
Wants=dmemcg-booster-user.service
After=sway-session.target dmemcg-booster-user.service

[Service]
Type=simple
ExecStart=%h/.cargo/bin/sway-foreground-booster-dmemcg
Restart=on-abnormal
RestartSec=2

[Install]
WantedBy=sway-session.target
